.cabecalho-registro{
    background-color: var(--azul-principal);
    width: 100%;
    padding: 1em 0 1.5em 0;
    color: var(--branco);
}
.cabecalho-nome-data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0 2em 0;
}
.imagem{
    height: 10vh;
    width: 25vw;
    border: 1px solid var(--branco);
    border-radius: 50px;
}
.imagem-usuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mensagem-usuario{
    margin-bottom: 0.4em;
}
.container-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    outline: 1px solid var(--branco);
}
.dia-mes{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid var(--branco);
}
.data-mes{
    display: flex;
    justify-content: center;
    width: 100%;
}
.semana-horario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.altura-data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8vh;
}
.dia-semana{
    border-right: 1px solid var(--branco);
}
.itens-cabecalho{
    display: flex;
    justify-content: space-around;
    margin: 0 0.7em 0 0em;
}
.item-lista-cabecalho{
    display: flex;
    width: 15vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-itens-cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    margin-bottom: 0.4em;
}
.imagem-lista-cabecalho{
    height: 5vh;
    outline: 1px solid var(--cinza);
    background-color: var(--cinza);
    border-radius: 10px;
    padding: 0.5em;
}
.container-registro{
    background-color: var(--cinza);
    border-radius: 10PX;
    height: auto;
    padding: 0.1em;
    margin: 1em;
}
.registro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    margin: 1em;
    padding: 1em;
    outline: 1px solid black;
    border-radius: 15px;
}
.placa-veiculo{
    padding: 0.2em;
    border: 1px solid black;
    border-radius: 15px;
    font-weight: bold;
}
.horario{
    font-weight: bold;
    font-size: 30px;
}
.horario-registro-2{
    outline: 1px solid black;
    padding: 0.4em;
    border-radius: 15px;
}
.btn-fechar{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0.7em;
    align-items: center;
    color: red;
    font-weight: bold;
    font-size: 25px;
    width: 10vw;
    height: 5vh;
}
@media screen and (min-width: 1024px){
    .corpo-registro{
        display: flex;
        flex-direction: row-reverse;
        width: 99%;
    }
    .cabecalho-registro{
        margin-top: 15%;
        width: 40%;
    }
    .cabecalho-nome-data{
        display: flex;
        justify-content: space-between;;
    }
    .imagem-usuario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
    }
    .imagem{
        width: 50%;
    }
    .mensagem-data{
        width: 65%;
    }
    .msg-usuario{
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
    .container-registro{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .registro{
        width: 24vw;
        padding: 1em;
    }
    .btn-fechar{
        width: 1vw;
    }
    .itens-cabecalho{
        width: 100%;
    }
    .texto-itens-cabecalho{
        font-size: 15px;
    }
    .imagem-lista-cabecalho{
        padding: 1em;
    }
    .imagem-lista-cabecalho:hover{
        cursor: pointer;
    }
}