body {
    background-color: var(--azul-principal);
    background-image: url(carro_imagem.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-position: top;
}

.criar-conta-iniciar-sessao{
    height: 50vh;
}
.input-nome-email{
    height: 40vh;
    width: 50vw;
}
.criar-conta-btn{
    width: 40vw;
}

.btn-voltar-sessao{
    background-color: transparent;
    border: transparent;
    position: absolute;
    color: white;
    font-weight: 400;
    left: 60px;
    top: 5px;
    height: 60px;
    font-style: italic;
    height: 50px;
    padding: 10px;
}
.btn-voltar-sessao:hover {
    cursor: pointer;
    color: black;
}

@media (max-width: 700px){
    .btn-voltar-sessao{
        position: absolute;
        left: 60px;
        top: 5px;
        height: 60px;
    }
}
@media (max-width: 600px){
    .btn-voltar-sessao{
        position: absolute;
        left: 10px;
        top: 5px;
        height: 60px;
    }
}