*{
    margin: 0;
    box-sizing: border-box;
}

.painel-inicial-grafico {
    background: #4348d6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

.div-graficos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 23rem;
}

.img-graficos {
    width: 35rem;
    height: 22rem;
}

.botao-voltar {
    background-color: #4348d6;
    border: 0px solid transparent;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.botao-voltar:hover{
    background-color: #272dd9;
}

.span-voltar {
    font-size: 50px;
    color: white;
}

@media (max-width: 400px){
    .painel-inicial-grafico {
        width: 100vw;
        height: 100%;
    }
    .img-graficos{
        margin-top: 10px;
        width: 340px;
        height: 240px;
    }
    .div-graficos {
        height: 250px;
    }
}

@media (max-width: 1750px){
    .painel-inicial-grafico {
        width: 100vw;
        height: 100%;
    }
}