.iniciar-sessao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    background: var(--azul-principal);
    align-items: center;
}
.imagem-carro{
    width: 300px;
    height: 300px;
}
.formulario-iniciar-sessao{
    display: flex;
    width: 100%;
    height: 30vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-iniciar-sessao{
    color: var(--branco);
    font-size: 20px;
}
.entrada-nome-email{
    color: var(--branco);
    background-color: var(--preto);
    width: 60%;
    height: 30vh;
    border: 1px solid var(--preto);
    border-radius: 15px;
    margin: 0.7em 0 0em;
    padding: 1em;
}
.btn-entrar-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
    width: 50vw;
    height: 7vh;
    background-color: var(--cinza);
    color: var(--preto);
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
}
.esqueceu-senha{
    margin-top: 1em;
    color: var(--branco);
}
@media screen and (min-width: 1024px){
    .entrada-nome-email{
        padding: 1rem;
        font-size: 18px;
    }
    .titulo-iniciar-sessao{
        font-size: 30px;
    }
    .formulario-criar-conta{
        margin-top: 2em;
    }
    .btn-entrar-usuario{
        width: 20vw;
        height: 7vh;
    }
    .btn-entrar-usuario:hover{
        cursor: pointer;
    }
}