@import url("index.css");
@import url("registro.css");
@import url("cadastro.css");
:root{
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --azul-principal: #4348D6;
    --branco: #FFF;
    --cinza: #BFABB2;
    --preto: #000;
    --verde: #01FF4E;
}
body{
    background: var(--azul-principal);
    font-weight: bold;
    font-family: var(--fonte-principal);
}