:root{
    --fonte-principal: 'Roboto', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --azul-principal: #4348D6;
    --branco: #FFF;
    --cinza: #BFABB2;
    --preto: #000;
    --verde: #01FF4E;
}
body{
    background: var(--azul-principal);
    font-weight: bold;
    font-family: var(--fonte-principal);
}
a{
    text-decoration: none;
}
.btn-voltar-sessao{
    background-color: transparent;
    border: transparent;
    position: absolute;
    color: white;
    font-weight: 400;
    left: 60px;
    top: 10px;
    height: 60px;
    font-style: italic;
    height: 50px;
    padding: 10px;
}
.btn-voltar-sessao:hover {
    cursor: pointer;
    color: black;
}

@media (max-width: 700px){
    .btn-voltar-sessao{
        position: absolute;
        left: 60px;
        top: 5px;
        height: 60px;
    }
}
@media (max-width: 600px){
    .btn-voltar-sessao{
        position: absolute;
        left: 5px;
        top: 5px;
        height: 60px;
    }
}