.imagem-de-fundo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: var(--azul-principal);
    background-image: url(carro_imagem.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-position: top;
}
.imagem-carro{
    width: 300px;
    height: 300px;
}
.formulario-iniciar-sessao{
    display: flex;
    width: 100%;
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-iniciar-sessao{
    color: var(--branco);
    font-size: 20px;
}
.entrada-nome-email{
    color: var(--branco);
    background-color: var(--preto);
    width: 60%;
    height: 100%;
    border: 1px solid var(--preto);
    border-radius: 15px;
    margin: 0.7em 0 0em;
    padding: 1em;
}
.btn2-padrao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding: 1em;
    width: 60%;
    height: 20%;
    font-weight: bold;
    border-radius: 15px;
    color: var(--branco);
    background-color: var(--preto);
    border: 1px solid var(--preto);
    margin-bottom: 0.5em;
    font-size: 20px;
}
.esqueceu-senha{
    margin-top: 1em;
    color: var(--branco);
}
.btn-voltar-sessao{
    background-color: transparent;
    border: transparent;
    position: absolute;
    color: white;
    font-weight: 400;
    left: 60px;
    top: 5px;
    height: 60px;
    font-style: italic;
    height: 50px;
    padding: 10px;
}
.btn-voltar-sessao img:hover {
    cursor: pointer;
}
@media screen and (min-width: 1024px){
    .entrada-nome-email{
        padding: 1rem;
        font-size: 18px;
    }
    .titulo-iniciar-sessao{
        font-size: 30px;
    }
    .formulario-criar-conta{
        margin-top: 2em;
    }
    .btn2-padrao{
        width: 20vw;
        height: 7vh;
    }
    .btn2-padrao:hover{
        cursor: pointer;
    }
    .btn2-padrao:hover{
        background-color: var(--cinza);
        border: 1px solid var(--cinza);
        cursor: pointer;
    }
}
@media (max-width: 700px){
    .btn-voltar-sessao{
        position: absolute;
        left: 60px;
        top: 5px;
        height: 60px;
    }
}
@media (max-width: 600px){
    .btn-voltar-sessao{
        position: absolute;
        left: 10px;
        top: 5px;
        height: 60px;
    }
}